body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
}

main{
    align-items: center;
    justify-content: center;
    display: flex;
}

form {
    background-color: white;
    border-radius: 10px;
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form label {
    align-self: flex-start;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form h2{
    margin-top: 0;
}

form input[type="submit"] {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: #575757;
    color: white;
}

label {
    font-size: 15px;
    margin-bottom: 15px;
}

input{
    border: 0;
    background-color: #f2f2f5;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 25px;
    outline: none;
    border: solid 3px;
}


span {
    color: #d9534f;
    font-size: 0.9em;
    margin-bottom: 1em;
    display: none;
    font-weight: bold;
    background-color: #f8d7da;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
}